Repository exercism/haskell, pull requests merged in 2018-04, with the labels that each got.

#671 bracket-push 1.3.0: Add paired inside unpaired
  exercises/bracket-push/package.yaml
  exercises/bracket-push/test/Tests.hs
Labels: sync/tests

#674 sieve: Clarify the algorithm is not trial division; crypto-square: Clarify rectangular output requirement
  exercises/crypto-square/README.md
  exercises/sieve/README.md
Labels: sync/readme

#676 isbn-verifier 2.4.0.5: add test case for 0 < length < 10; kindergarten-garden 1.1.1.5: No-op declare compliance with 1.1.1
  exercises/isbn-verifier/package.yaml
  exercises/isbn-verifier/test/Tests.hs
  exercises/kindergarten-garden/package.yaml
Labels: sync/tests

#679 series 1.0.0.3: Add duplicates/long series; Expect (n+1) zero-length series; Change test from ab to 01
  exercises/series/README.md
  exercises/series/examples/success-byteseqs/src/Series.hs
  exercises/series/examples/success-standard/src/Series.hs
  exercises/series/package.yaml
  exercises/series/test/Tests.hs
Labels: sync/readme, sync/tests
