Repository exercism/haskell, pull requests merged in 2018-10, with the labels that each got.

#733 leap-1.4.0: Add negative test: year divisible by 200, not divisible by 400
  exercises/leap/package.yaml
  exercises/leap/test/Tests.hs
Labels: sync/tests

#736 sum-of-multiples-1.3.0: the only multiple of 0 is 0
  exercises/sum-of-multiples/package.yaml
  exercises/sum-of-multiples/test/Tests.hs
Labels: sync/tests

#740 sum-of-multiples: describe the importance of each test (test version 1.4.1, closes #738)
  exercises/sum-of-multiples/package.yaml
  exercises/sum-of-multiples/test/Tests.hs
Labels: sync/tests

#741 sum-of-multiples: Bump test to 1.4.0
  exercises/sum-of-multiples/package.yaml
  exercises/sum-of-multiples/test/Tests.hs
Labels: sync/tests

#745 Palindrome products returns `Maybe`
  config.json
  exercises/palindrome-products/examples/success-standard/src/Palindromes.hs
  exercises/palindrome-products/package.yaml
  exercises/palindrome-products/src/Palindromes.hs
  exercises/palindrome-products/test/Tests.hs
Labels: sync/tests

#753 pythagorean-triplet 1.0.0.3: Test only tripletsWithSum
  exercises/pythagorean-triplet/README.md
  exercises/pythagorean-triplet/examples/success-standard/src/Triplet.hs
  exercises/pythagorean-triplet/package.yaml
  exercises/pythagorean-triplet/src/Triplet.hs
  exercises/pythagorean-triplet/test/Tests.hs
Labels: sync/readme, sync/tests

#756 README updates from problem-specification
  exercises/change/README.md
  exercises/crypto-square/README.md
  exercises/dominoes/README.md
  exercises/hamming/README.md
Labels: sync/readme

#755 no-op declare compliance with problem-specifications
  exercises/change/package.yaml
  exercises/forth/package.yaml
  exercises/grains/package.yaml
  exercises/largest-series-product/package.yaml
  exercises/ocr-numbers/package.yaml
  exercises/pascals-triangle/package.yaml
  exercises/phone-number/package.yaml
  exercises/queen-attack/package.yaml
  exercises/say/package.yaml
  exercises/wordy/package.yaml
Labels: sync/tests

#757 add/remove tests according to problem-specifications
  exercises/acronym/package.yaml
  exercises/acronym/test/Tests.hs
  exercises/alphametics/package.yaml
  exercises/alphametics/test/Tests.hs
  exercises/bracket-push/package.yaml
  exercises/bracket-push/test/Tests.hs
  exercises/clock/package.yaml
  exercises/clock/test/Tests.hs
  exercises/collatz-conjecture/package.yaml
  exercises/collatz-conjecture/test/Tests.hs
  exercises/pascals-triangle/package.yaml
  exercises/pascals-triangle/test/Tests.hs
  exercises/saddle-points/README.md
  exercises/saddle-points/package.yaml
  exercises/saddle-points/test/Tests.hs
  exercises/simple-cipher/README.md
  exercises/simple-cipher/package.yaml
Labels: sync/readme, sync/tests
